node_modules
dist
.output
.vinxi
.tanstack
.nitro
.wrangler
.git
.gitignore
.env
.env.local
.env.*.local
*.log
.gitkeep
.gitattributes
.npmrc
.lovable
Dockerfile
.dockerignore
docker-compose.yml
README.md
bun.lock
bunfig.toml
